@import "../../assets/styles"

.cartBackArrow
    width: 32px
    height: 32px
    border: 1px solid $accent-color
    border-radius: 50%
    color: $accent-color
    background-color: transparent
    background-repeat: no-repeat
    background-position: center
    &:hover
        // background-color: $accent-color
        // color: $dark-btn-font-color
        cursor: pointer
