@import "../../assets/styles"

.cartOrderItem
    display: grid
    grid-template-columns: 530px 115px
    column-gap: 216px
    align-items: center
    margin-bottom: 35px
    // justify-content: space-between
    .cartProdData
        display: grid
        grid-template-columns: 132px 310px
        //grid-template-rows: 122px
        column-gap: 98px
        align-items: center
        // &>img
        //     width: 122px
        //     height: 122px
        .cartImg
            height: 132px
            background-size: cover
            background-repeat: no-repeat
    .cartPriceData
        display: grid
        grid-template-columns: auto auto
        column-gap: 15px
        align-items: center
        .cardPrice
            color: $accent-color
        button
            transform: rotate(90deg)
            color: $accent-color
            border-color: $accent-color
