@import "../../assets/styles"

.card
    width: 312px
    padding: 43px 21px 32px
    border: 1px solid $accent-color
    color: #fff
    display: grid
    grid-template-columns: auto
    grid-template-rows: min-content
    &:hover>p
        color: $accent-color
    &:hover>div>div>p
        color: $accent-color
    .cardTitle
        margin: 31px 0 1px
    .cardDescr
        font-weight: 400
        font-size: 14px
        line-height: 17px
        text-align: left
    .cardFooter
        display: flex
        align-items: baseline
        justify-content: space-between
        margin-top: 41px //-10 -5 -7
        align-self: flex-end
        &>div
            display: flex
            align-items: baseline
            .cardPrice
                margin-right: 4px
            .cardOutput
                font-weight: 400
                font-size: 14px
                line-height: 17px

